# Виртуальное окружение
venv/
env/
ENV/

media/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# База данных (если вы не хотите закидывать локальную БД)
db.sqlite3
db.sqlite3-journal

# Загружаемые пользователями медиафайлы (картинки товаров)
media/

# Настройки IDE / редакторов
.vscode/
.idea/

# Логи и временные файлы
*.log